:root {
    --main-text-color: #1c1c1c;
    --second-text-color: rgb(40, 95, 171);
}

.auth-form{
    width: 15%;
    min-width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.25);
    padding: 20px;
    color: var(--main-text-color);
}

.auth-form h1{
    font-size: 20px;
    margin: 0;
    color: var(--second-text-color);
}

.auth-form .item{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.auth-form .item span{
    font-size: 14px;
    color: var(--error-color);
}

.auth-form .item input{
    font: inherit;
    letter-spacing: inherit;
    box-sizing: content-box;
    height: 20px;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0;
    -webkit-animation-name: mui-auto-fill-cancel;
    animation-name: mui-auto-fill-cancel;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms;
    padding: 9px;
    width: 92%;
}

.auth-form .submit{
    width: 100%;
    text-align: right;
    justify-content: space-between;
}

.auth-form .submit input[type='submit']{
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    padding: 10px;
    color: #fff;
    background-color: var(--second-text-color);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2);
    width: 100%;
    margin-bottom: 16px;
}

.auth-form .submit a{
    color: #1976d2;
    text-decoration: underline;
    text-decoration-color: rgba(25, 118, 210, 0.4);
}
