* {
  transition: background-color 0.5s;
}

#root {
  text-align: center;
  background: var(--light-theme-main-background-color);
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
}