.navbar{
    width: 24%;
    border-radius: 10px;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.navbar-light{
    background-color: var(--light-theme-background-color);
    color: var(--light-theme-text-color);
}

.navbar-dark{
    background-color: var(--dark-theme-background-color);
    color: var(--dark-theme-text-color);
}

.navbar-dark .navbar-logo{
    color: var(--dark-theme-text-second-color);
}

.navbar-light .navbar-logo{
    color: var(--dark-theme-text-second-color);
}

.navbar-light a{
    color: var(--light-theme-text-color);
}

.navbar-dark a{
    color: var(--dark-theme-text-color);
}

.navbar-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    gap: 20px;
}

.navbar-logo{
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 46px;
    margin: 0;
    color: var(--light-theme-text-second-color);
    text-decoration: none;
 }

.navbar-profile{
    width: 150px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 5px;
}

.navbar-profile-avatar{
    width: 50px;
    min-width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
 }

.navbar-profile-avatar img{
    width: 50px;
    min-width: 50px;
    height: 50px;
    object-fit: cover;
}

.navbar-profile-text{
    text-decoration: none;
}

.profile-name{
    margin: 0;
    text-align: left;
}

.menu_links{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

.icons{
    width: 30px;
    min-width: 30px;
    height: 30px;
    top: 20px;
}

.menu_links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu_links a:hover{
    text-decoration: none;
    color: var(--light-theme-text-second-color);
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-dark .menu_links a{
    color: var(--dark-theme-text-color);
}

.navbar-dark .menu_links a:hover{
    color: var(--dark-theme-text-second-color);
}

.changeTheme{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    position: absolute;
    top: 19px;
    right: 25px;
}

.changeTheme:hover{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.changeThemeDark{
    color: var(--dark-theme-text-color);
}

.changeThemeDark:hover{
    color: var(--dark-theme-text-second-color);
}

.changeThemeLight{
    color: var(--light-theme-text-color);
}

.changeThemeLight:hover{
    color: var(--dark-theme-text-second-color);
}

.line {
    border-bottom: 2px solid lightgray;
    width: 100%;
}
