:root {
    --main-text-color: #1c1c1c;
    --second-text-color: rgb(40, 95, 171);
}

.navbar{
    width: 24%;
    border-radius: 10px;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.navbar-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    gap: 20px;
}

.navbar-logo{
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 46px;
    color: var(--second-text-color);
    margin: 0;
 }

.navbar-profile{
    width: 70%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-profile-avatar{
    width: 50px;
    min-width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
 }

.navbar-profile-avatar img{
    width: 50px;
    min-width: 50px;
    height: 50px;
    object-fit: cover;
}

.navbar-profile-text{
    text-decoration: none;
}

.profile-name{
    margin: 0;
    color: var(--main-text-color);
    text-align: left;
}

.menu_links{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

.icons{
    width: 30px;
    min-width: 30px;
    height: 30px;
    top: 20px;
}

.menu_links a{
    text-decoration: none;
    color: var(--main-text-color);
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu_links a:hover{
    text-decoration: none;
    color: var(--second-text-color);
    display: flex;
    align-items: center;
    gap: 20px;
}

.line {
    border-bottom: 2px solid lightgray;
    width: 100%;
}