:root {
    --main-text-color: #1c1c1c;
    --second-text-color: rgb(40, 95, 171);
}

.followers{
    width: 100%;
    height: min(100%);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}
.column{
    background-color: #FFFFFF;
    width: 49%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

