.search-container{
    width: 98%;
}

.searchContainer{
    position: relative;
    width: 100%;
    height:25px;
    margin-bottom: 15px;
    font-size: 15px;
}
.icon{
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 99;
}
textarea:focus, input:focus{
    outline: none;
}
.searchBar{
    box-sizing: border-box;
    width: 100%;
    height: 25px;
    background-color: var(--light-theme-background-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    text-indent: 5%;
    border: none;
    color: var(--light-theme-text-color);
}

.search-dark{
    color: var(--dark-theme-text-second-color);
}

.search-dark .searchBar{
    background-color: var(--dark-theme-background-color);
    color: var(--dark-theme-text-color)
}