:root {
    --main-text-color: #1c1c1c;
    --second-text-color: rgb(40, 95, 171);
    --error-color: #ff3737
}

.item_name{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.name-column{
    font: inherit;
}

.name-column input{
    width: 100%;

}

.item_email{
    font: inherit;
    letter-spacing: inherit;
    color: currentColor;
    margin: 0;
    display: block;
    width: 95%;
    padding: 9px;

}

.item_password{
    font: inherit;
    letter-spacing: inherit;
    color: currentColor;
    margin: 0;
    display: block;
    width: 95%;
    padding: 9px;
}

.item_passwordRepeat{
    font: inherit;
    letter-spacing: inherit;
    color: currentColor;
    margin: 0;
    display: block;
    width: 95%;
    padding: 9px;
}

.registration-form{
    min-width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.25);
    padding: 20px;
    color: var(--main-text-color);
}

.registration-form h1{
    margin: 0;
    color: var(--second-text-color);
    font-size: 20px;
}

.registration-form .item{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.registration-form .item span{
    font-size: 14px;
    color: var(--error-color);
}

.registration-form .item input{
    font: inherit;
    letter-spacing: inherit;
    box-sizing: content-box;
    height: 20px;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0;
    -webkit-animation-name: mui-auto-fill-cancel;
    animation-name: mui-auto-fill-cancel;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms;
    padding: 9px;
}

.registration-form .submit{
    width: 100%;
    /*display: flex;*/
    text-align: right;
    justify-content: space-between;
}
.registration-form .submit a{
    color: #1976d2;
    text-decoration: underline;
    text-decoration-color: rgba(25, 118, 210, 0.4);
}
/* Кнопка отправить */
.registration-form .submit input[type='submit']{
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    padding: 10px;
    color: #fff;
    background-color: var(--second-text-color);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2);
    width: 100%;
    margin-bottom: 16px;
}

.error{
    border: 1px solid var(--error-color);
    outline: 1px solid var(--error-color);
}

.item_input_agree{
    width: 26px;
    height: 15px;
}
