:root {
    --main-text-color: #1c1c1c;
    --second-text-color: rgb(40, 95, 171);
}

.follower{
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    width: 96%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    gap: 10px;
}

.follower-header{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.follower-image{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.follower-profile{
    text-decoration: none;
    margin: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.follower-profile-name{
    margin: 0;
    text-align: left;
    text-decoration: none;
    color: var(--second-text-color);
    font-size: 18px;
}

.follower-profile-text{
    color: #6c6c6c;
    font-size: 15px;
}

.follower-text{
    margin: 0;
    text-align: left;
}

.follower-btn{
    outline: none;
    border: 1px solid;
    font-size: 15px;
    border-color: var(--second-text-color);
    background: #ffffff;
    color: #3a3a3a;
    padding: 5px;
}

.follower-btn:hover{
    cursor: pointer;
    background: rgba(40, 95, 171, 0.05);
}

.follower-btn:active{
    color:white;
    background-color: var(--second-text-color);
}
.follower-dark{
    color: #77BCFF;
    background-color:#1e1e2c ;
}
.follower-dark .follower-profile-name{
    color: #77BCFF;
    background-color:#1e1e2c ;
}
.follower-dark .follower-btn{

    color: #1c1c1c;
}
.follower-dark .follower-btn:hover{
    background-color: #4898f1;
    color: #1c1c1c;
}

